<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<typeAliases>	
		<typeAlias type = "java.util.List" alias="List"/>
		<typeAlias type = "java.lang.Long" alias="Long"/>
		<typeAlias type = "java.lang.Double" alias="Double"/>
		<typeAlias type = "java.lang.Integer" alias="Integer"/>
		<typeAlias type = "java.lang.String" alias="String"/>
		<typeAlias type="java.util.Map" alias="Map"/>
		<typeAlias type="com.fd.s1.board.qna.QnaVO" alias="QnaVO"/>
		<typeAlias type="com.fd.s1.board.qna.AnswerVO" alias="AnswerVO"/>
		<typeAlias type="com.fd.s1.board.qna.QnaFilesVO" alias="QnaFilesVO"/>
		<typeAlias type="com.fd.s1.util.Pager" alias="Pager"/>
		<typeAlias type="com.fd.s1.board.event.EventVO" alias="EventVO"/>
		<typeAlias type="com.fd.s1.board.event.EventFilesVO" alias="EventFilesVO"/>
		<typeAlias type="com.fd.s1.menu.MenuVO" alias="MenuVO"/>
		<typeAlias type="com.fd.s1.menu.IngredientVO" alias="IngredientVO"/>
		<typeAlias type="com.fd.s1.menu.MenuFileVO" alias="MenuFileVO"/>
		<typeAlias type="com.fd.s1.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.fd.s1.delivery.CartVO" alias="CartVO"/>
		<typeAlias type="com.fd.s1.util.PhoneCheckVO" alias="PhoneCheckVO"/>
		<typeAlias type="com.fd.s1.board.notice.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.fd.s1.board.notice.NoticeFilesVO" alias="NoticeFilesVO"/>
		<typeAlias type="com.fd.s1.faq.FaqVO" alias="FaqVO"/>
		<typeAlias type="com.fd.s1.faq.EtcVO" alias="EtcVO"/>
		<typeAlias type="com.fd.s1.admin.AdminVO" alias="AdminVO"/>
		<typeAlias type="com.fd.s1.coupon.CouponVO" alias="CouponVO"/>
		<typeAlias type="com.fd.s1.shop.ShopMenuVO" alias="ShopMenuVO"/>
		<typeAlias type="com.fd.s1.shop.ShopVO" alias="ShopVO"/>
		<typeAlias type="com.fd.s1.coupon.UserCouponVO" alias="UserCouponVO"/>
		<typeAlias type="com.fd.s1.board.event.Event_couponVO" alias="Event_couponVO"/>
		<typeAlias type="com.fd.s1.shop.ShopStopVO" alias="ShopStopVO"/>
		<typeAlias type="com.fd.s1.delivery.OrdersVO" alias="OrdersVO"/>
		<typeAlias type="com.fd.s1.delivery.OrderDetailVO" alias="OrderDetailVO"/>
		<typeAlias type="com.fd.s1.delivery.PaymentVO" alias="PaymentVO"/>
		<typeAlias type="com.fd.s1.email.EmailVO" alias="EmailVO"/>
		<typeAlias type="com.fd.s1.admin.BannerFileVO" alias="BannerFileVO"/>
	</typeAliases>
</configuration>
