<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.fd.s1.admin.AdminMapper">
    
        <select id="getMember" parameterType="Pager" resultType="MemberVO">
			SELECT * FROM USER    		    		
	 		WHERE ID  is not null
	 		AND
	 		(ID LIKE concat('%', #{search},'%') or
	 		NAME LIKE concat('%', #{search},'%'))
	    	ORDER BY USERTYPE ASC, ID ASC LIMIT #{startRow}, #{perPage}
    	</select>
    
        <update id="setMemberGrade" parameterType="MemberVO">
			UPDATE USER SET USERTYPE = #{userType} WHERE ID=#{id}
    	</update>
    	<select id="getTotalCount" parameterType="pager" resultType="Long">
			SELECT COUNT(ID) FROM USER    		    		
	 		WHERE
	 		(ID LIKE concat('%', #{search},'%') or
	 		NAME LIKE concat('%', #{search},'%'))
    	</select>
    	
    	
    	 <select id="getCoupon" parameterType="Pager" resultType="CouponVO">
			SELECT * FROM COUPON 		    		
	 		WHERE COUPONID  is not null
	 		AND
	 		(COUPONID LIKE concat('%', #{search},'%') or
	 		COUPONNAME LIKE concat('%', #{search},'%'))
	    	ORDER BY COUPONID ASC LIMIT #{startRow}, #{perPage}
    	</select>

    	<select id="getCouponTotalCount" parameterType="pager" resultType="Long">
	 		SELECT COUNT(COUPONID) FROM COUPON 		    		
	 		WHERE
	 		(COUPONID LIKE concat('%', #{search},'%') or
	 		COUPONNAME LIKE concat('%', #{search},'%'))
    	</select>
    	
    	<insert id="setCouponAdd" parameterType="CouponVO" useGeneratedKeys="true" keyProperty="couponId">
			INSERT INTO COUPON (COUPONID,COUPONNAME,DISCOUNT,ACTIVEDATE)
			VALUES (#{couponId},#{couponName},#{discount},#{activeDate})
		</insert>
		
		<delete id="setCouponDelete" parameterType="CouponVO">
			DELETE FROM COUPON WHERE COUPONID=#{couponId}
		</delete>
		
		<select id="getShop" parameterType="Pager" resultType="ShopVO">
			SELECT * FROM SHOP			   		    		
	 		WHERE SHOPNUM  is not null
	 		AND
	 		(ID LIKE concat('%', #{search},'%') or
	 		SHOPNAME LIKE concat('%', #{search},'%') or
	 		SHOPPHONE LIKE concat('%', #{search},'%') or
	 		LOCATION LIKE concat('%', #{search}, '%'))
	    	ORDER BY SHOPNUM DESC LIMIT #{startRow}, #{perPage}
    	</select>
    	
    	<select id="getShopMaster" resultType="ShopVO">
    		SELECT ID FROM SHOP
    	</select>
    	 
     	<insert id="setShopAdd" parameterType="ShopVO" useGeneratedKeys="true" keyProperty="shopNum">
			INSERT INTO SHOP  (SHOPNUM, ID, SHOPNAME,LOCATION,X_AXIS,Y_AXIS,SHOPPHONE,OPENTIME,CLOSETIME,SALE,DISTANCE,OPEN)
			VALUE (#{shopNum},#{id},#{shopName},#{location},#{x_axis},#{y_axis},#{shopPhone},9,21,0,3,0);
		</insert>
		
		<delete id="setShopDelete" parameterType="ShopVO">
			DELETE FROM SHOP WHERE SHOPNUM=#{shopNum}
		</delete>
		
		<select id="getShopDetail" resultType="ShopVO">
			SELECT * FROM SHOP WHERE ID=#{id}
		</select>
		
		<select id="getShopTotalCount" parameterType="pager" resultType="Long">
	 		SELECT COUNT(SHOPNUM) FROM SHOP 		    		
	 		WHERE
	 		(ID LIKE concat('%', #{search},'%') or
	 		SHOPNAME LIKE concat('%', #{search},'%') or
	 		SHOPPHONE LIKE concat('%', #{search},'%'))
    	</select>
		
		<update id="setShopUpdate" parameterType="ShopVO">
			UPDATE SHOP SET ID=#{id},SHOPNAME=#{shopName},LOCATION=#{location},X_AXIS=#{x_axis},Y_AXIS=#{y_axis},SHOPPHONE=#{shopPhone},SALE=#{sale},OPEN=#{open}  WHERE SHOPNUM=#{shopNum}
    	</update>
		
    </mapper>
