<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.fd.s1.coupon.CouponMapper">
    
    	<select id="getOverlap" parameterType="UserCouponVO" resultType="Long">
			SELECT COUNT(COUPONNUM) FROM USERCOUPON WHERE ID  is not null AND ((COUPONNUM = #{couponNum} AND USAGESTATUS = 1)  )<!--  or (ID = #{id} AND COUPONID = 1) -->
    	</select>		
		
		<insert id="setUserCoupon" parameterType="UserCouponVO" useGeneratedKeys="true" keyProperty="num">
			INSERT INTO USERCOUPON (NUM,ID,COUPONID,COUPONNUM,DOWNDATE,USAGESTATUS)
			VALUES (#{num},#{id},1,#{couponNum},now(),1)
		</insert>
		
		<select id="getCoupon" parameterType="Pager" resultType="CouponVO">
			SELECT * FROM COUPON 		    		
	 		WHERE COUPONID  is not null
	 		AND
	 		(COUPONID LIKE concat('%', #{search},'%') or
	 		COUPONNAME LIKE concat('%', #{search},'%'))
	    	ORDER BY COUPONID ASC LIMIT #{startRow}, #{perPage}
    	</select>

    	<select id="getCouponTotalCount" parameterType="pager" resultType="Long">
	 		SELECT COUNT(COUPONID) FROM COUPON 		    		
	 		WHERE
	 		(COUPONID LIKE concat('%', #{search},'%') or
	 		COUPONNAME LIKE concat('%', #{search},'%'))
    	</select>
		
		
		
<!-- 		<delete id="setCouponDelete" parameterType="CouponVO">
			DELETE FROM COUPON WHERE COUPONID=#{couponId}
		</delete> -->
    </mapper>
