<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.fd.s1.delivery.DeliveryMapper">
    
    <select id="getCart" parameterType="CartVO" resultType="CartVO">
    SELECT * 
    FROM CART C
    LEFT JOIN
    MENU M
    USING (MENUNUM) 
    LEFT JOIN
    SHOP S
    USING (SHOPNUM)
    LEFT JOIN
    MENUFILE MF
    USING (MENUNUM)
    WHERE C.ID=#{id}
    </select>
    
    <insert id="setCartAdd" parameterType="CartVO">
    INSERT INTO CART(CARTNUM,ID,MENUNUM,SHOPNUM,COUNT,TOTALPRICE)
    VALUES (null,#{id},#{menuNum},#{shopNum},1,#{totalPrice})
    </insert>
    
    <select id="addCheck" parameterType="CartVO" resultType="CartVO">
    SELECT * 
    FROM CART 
    WHERE ID=#{id} AND menuNum=#{menuNum}
    </select>
    
    <update id="update" parameterType="CartVO">
    UPDATE CART SET COUNT=#{count},totalPrice=#{totalPrice} WHERE CARTNUM=#{cartNum}
    </update>
    
    <delete id="delete" parameterType="CartVO">
    DELETE FROM CART WHERE CARTNUM=#{cartNum}
    </delete>
    
   
   <insert id="payAdd" parameterType="PaymentVO">
   	INSERT INTO PAYMENT VALUES(#{payNum},#{type},#{price},now())
   </insert>

   <insert id="orderAdd" parameterType="OrdersVO">
   	INSERT INTO ORDERS (DELINUM,PAYNUM,ID,ADDRESS,PHONE,REQUEST,COUPON,ORDERDATE,TOTALPRICE)
   	VALUES(null,#{payNum},#{id},#{address},#{phone},#{request},#{coupon},now(),#{totalPrice})
   </insert>
   <insert id="orderDetailAdd" parameterType="OrderDetailVO">
   	INSERT INTO ORDERDETAIL VALUES(null,#{deliNum},#{payNum},#{menuNum},#{shopNum},#{orderCount},#{menuPrice})
   </insert>
   
   <select id="getOrder" parameterType="OrdersVO" resultType="OrdersVO">
   SELECT * FROM ORDERS WHERE PAYNUM=#{payNum}
   </select>
    
    </mapper>
