<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.fd.s1.board.event.EventMapper">
    
    	<select id="getTotal" parameterType="Pager" resultType="Long">
    		SELECT COUNT(EVENTNUM) FROM EVENT 
    		WHERE  EVENTNUM > 0
    		AND
	 		(TITLE LIKE concat('%', #{search},'%') or
	 		CONTENTS LIKE concat('%', #{search},'%'))
    	</select>

    	<select id="getFileList" parameterType="EventVO" resultType="EventFilesVO">
    		SELECT * FROM EVENTFILE WHERE EVENTNUM=#{eventNum}
    	</select>
    	
    	<insert id="setFileAdd" parameterType="EventFilesVO">
    		INSERT INTO EVENTFILE (FILENUM, EVENTNUM, FILENAME, ORINAME)
    		VALUES (null,#{eventNum},#{fileName},#{oriName})
    	</insert>
    	
    	<delete id="setFileDelete" parameterType="EventFilesVO">
    		DELETE FROM EVENTFILE WHERE FILENUM = #{fileNum}
    	</delete>
    	
    	<select id="getList" parameterType="Pager" resultMap="listResult">
    		SELECT E.*, F.* FROM 
			EVENT E
			LEFT JOIN EVENTFILE F 
			USING(EVENTNUM) WHERE E.EVENTNUM > 0 
			AND
	 		(TITLE LIKE concat('%', #{search},'%') or
	 		CONTENTS LIKE concat('%', #{search},'%'))
    		ORDER BY E.EVENTNUM DESC
			LIMIT #{startRow}, #{perPage}
    	</select>
    	<resultMap type="EventVO" id="listResult">
    		<id column="eventNum" property="eventNum"/>
    		<result column="id" property="id"/>
    		<result column="title" property="title"/>
    		<result column="contents" property="contents"/>
    		<result column="regDate" property="regDate"/>
    		<result column="hit" property="hit"/>
    		<collection property="filesVO" javaType="List" ofType="EventFilesVO">
    			<id column="fileNum" property="fileNum"/>
    			<result column="fileName" property="fileName"/>
    			<result column="oriName" property="oriName"/>
    		</collection>
    	</resultMap>
    	
    	<select id="getDetail" parameterType="EventVO" resultMap="detailResult">
    		SELECT E.*, F.* FROM 
			EVENT E
			LEFT JOIN EVENTFILE F 
			USING(EVENTNUM)
    		WHERE EVENTNUM=#{eventNum}
    	</select>
    	<resultMap type="EventVO" id="detailResult">
    		<id column="eventNum" property="eventNum"/>
    		<result column="id" property="id"/>
    		<result column="title" property="title"/>
    		<result column="contents" property="contents"/>
    		<result column="regDate" property="regDate"/>
    		<result column="hit" property="hit"/>
    		<collection property="filesVO" javaType="List" ofType="EventFilesVO">
    			<id column="fileNum" property="fileNum"/>
    			<result column="fileName" property="fileName"/>
    			<result column="oriName" property="oriName"/>
    		</collection>
    	</resultMap>
    	
    	<insert id="setAdd" parameterType="EventVO" useGeneratedKeys="true" keyProperty="eventNum">
    		INSERT INTO EVENT(EVENTNUM, ID, TITLE,CONTENTS,REGDATE,HIT)
			VALUES (#{eventNum},#{id},#{title},#{contents},now(),0)
    	</insert>
    	
    	<update id="setUpdate" parameterType="EventVO">
    		UPDATE EVENT SET TITLE = #{title} , CONTENTS = #{contents} WHERE EVENTNUM =#{eventNum}
    	</update>
    	
    	<delete id="setDelete" parameterType="EventVO">
    		DELETE FROM EVENT  WHERE EVENTNUM=#{eventNum}
    	</delete>
    </mapper>
