<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.fd.s1.member.MemberMapper">
    	
    	<select id="numCheck" parameterType="PhoneCheckVO" resultType="PhoneCheckVO">
    		SELECT * FROM PHONECHECK WHERE NUMBER = (SELECT  MAX(NUMBER) FROM PHONECHECK WHERE PHONE = #{phone});
    	</select>
    	
    	<select id="phoneCheck" parameterType="MemberVO" resultType="MemberVO">
    		SELECT * FROM USER WHERE PHONE=#{phone}
    	</select>
    	
    	<insert id="setNumCheck" parameterType="PhoneCheckVO">
    		INSERT INTO PHONECHECK(NUMBER,PHONE,REQUESTTIME,CHECKNUMBER)
    		VALUES (null,#{phone},#{requestTime},#{checkNumber})
    	</insert>
    
    	<select id="idCheck" parameterType="MemberVO" resultType="MemberVO">
    		SELECT *  FROM USER WHERE ID = #{id}
    	</select>
    	
    	<insert id="join" parameterType="MemberVO">
    		INSERT INTO USER (ID,PW,NAME,EMAIL,PHONE,POINT,GENDER,ROADADDRESS,DETAILADDRESS,BIRTH,USERTYPE)
    		VALUES (#{id},#{pw},#{name},#{email},#{phone},0,#{gender},#{roadAddress},#{detailAddress},#{birth},0)
    	</insert>
    	
    	<select id="login" parameterType="MemberVO" resultType="MemberVO">
    		SELECT * FROM USER WHERE ID=#{id} AND PW = #{pw}
    	</select>
    </mapper>
