<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.fd.s1.member.MemberMapper">
		
		<select id="findPw" parameterType="MemberVO" resultType="MemberVO">
			SELECT * FROM USER WHERE ID=#{id} AND PHONE=#{phone}
		</select>
		
		<select id="findId" parameterType="MemberVO" resultType="MemberVO">
			SELECT * FROM USER WHERE NAME=#{name} AND PHONE=#{phone}
		</select>
		
		<delete id="delMem" parameterType="MemberVO">
			DELETE FROM USER WHERE ID = #{id}
		</delete>
		
    	<update id="setPwChange" parameterType="MemberVO">
    		UPDATE USER SET PW = #{pw} WHERE ID= #{id}
    	</update>
    
    	<update id="setUpdate" parameterType="MemberVO">
    		UPDATE USER SET EMAIL =  #{email},PHONE=#{phone},POSTCODE = #{postcode}, ROADADDRESS = #{roadAddress}, DETAILADDRESS = #{detailAddress} WHERE ID=#{id}
    	</update>
    	
    	<delete id="delPhoneCheck" parameterType="java.time.LocalDate">
    		<![CDATA[
    			DELETE FROM  PHONECHECK WHERE REQUESTTIME < #{time}
    		]]>
    	</delete>
    	
    	
    	<update id="updateCount" parameterType="PhoneCheckVO"  >
    		UPDATE PHONECHECK SET COUNT = #{count} WHERE NUM = #{num}
    	</update>
    	
    	<select id="hourNumber" parameterType="PhoneCheckVO" resultType="PhoneCheckVO">
    		SELECT *FROM PHONECHECK WHERE PHONE = #{phone} AND REQUESTTIME BETWEEN #{startTime} AND #{lastTime}
    	</select>
    	
    	<select id="numCheck" parameterType="PhoneCheckVO" resultType="PhoneCheckVO">
    		SELECT * FROM PHONECHECK WHERE NUM = (SELECT  MAX(NUM) FROM PHONECHECK WHERE PHONE = #{phone})
    	</select>
    	
    	<select id="phoneCheck" parameterType="MemberVO" resultType="MemberVO">
    		SELECT * FROM USER WHERE PHONE=#{phone}
    	</select>
    	
    	<insert id="setNumCheck" parameterType="PhoneCheckVO">
    		INSERT INTO PHONECHECK(NUM,PHONE,REQUESTTIME,CHECKNUMBER,COUNT)
    		VALUES (null,#{phone},#{requestTime},#{checkNumber},0)
    	</insert>
    
    	<select id="idCheck" parameterType="MemberVO" resultType="MemberVO">
    		SELECT *  FROM USER WHERE ID = #{id}
    	</select>
    	
    	<insert id="join" parameterType="MemberVO">
    		INSERT INTO USER (ID,PW,NAME,EMAIL,PHONE,POINT,GENDER,POSTCODE,ROADADDRESS,DETAILADDRESS,BIRTH,USERTYPE)
    		VALUES (#{id},#{pw},#{name},#{email},#{phone},0,#{gender},#{postcode},#{roadAddress},#{detailAddress},#{birth},2)
    	</insert>
    	
    	<select id="login" parameterType="MemberVO" resultType="MemberVO">
    		SELECT * FROM USER WHERE ID=#{id} AND PW = #{pw}
    	</select>
    	
    	<insert id="setUserLog" parameterType="MemberVO">
    		INSERT INTO USERLOG (LOGNUM,ID,ACCESS)
    		VALUES (NULL,#{id},NOW())
    	</insert>
    	
    	<select id="cpCheck" parameterType="UserCouponVO" resultType="Integer">
    		SELECT COUNT(*) FROM USERCOUPON WHERE ID IS NULL AND USAGESTATUS = 1 AND COUPONNUM =#{couponNum}
    	</select>
    	
    	<update id="setCpRegister" parameterType="MemberVO">
    		UPDATE USERCOUPON SET ID = #{id} WHERE ID IS NULL AND USAGESTATUS = 1 AND COUPONNUM =#{couponNum}
    	</update>
    	
    	
    	<select id="getUserCoupon" parameterType="UserCouponVO" resultMap="userCouponDetailResult">
			SELECT UC.*, C.COUPONID, C.COUPONNAME, C.DISCOUNT, DATEDIFF(DUEDATE,DATE_FORMAT(NOW(), '%Y-%m-%d')) AS ACTIVEDATE FROM USERCOUPON UC
			LEFT JOIN
			COUPON C
			ON (UC.COUPONID = C.COUPONID)
			WHERE UC.ID = #{id} AND USAGESTATUS = 1
			ORDER BY ACTIVEDATE ASC
    	</select> 	
    	<resultMap type="UserCouponVO" id="userCouponDetailResult">
    		<id column="num" property="num"/>
    		<result column="id" property="id"/>
    		<result column="couponId" property="couponId"/>
    		<result column="couponNum" property="couponNum"/>
    		<result column="downDate" property="downDate"/>
    		<result column="dueDate" property="dueDate"/>
    		<result column="usageStatus" property="usageStatus"/>
    		<result column="activeDate" property="activeDate"/>
    		<association property="couponVO" javaType="CouponVO">
    			<id column="couponId" property="couponId"/>
    			<result column="couponName" property="couponName"/>
    			<result column="discount" property="discount"/>
    		</association>
    	</resultMap>
    	
    </mapper>
