<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fd.s1.board.qna.QnaMapper">

	<select id="getQnaList" parameterType="Pager" resultType="QnaVO">
    	SELECT Q.* 
    	FROM 
    	(SELECT *
    	FROM QNA
    	WHERE NUM>0 
    	ORDER BY NUM DESC
    	LIMIT #{startRow},#{perPage}) Q
    	ORDER BY NUM DESC
    	</select>

	<select id="getTotal" resultType="Long">
		SELECT COUNT(NUM) 
		FROM QNA
		WHERE NUM>0
	</select>

	<select id="getQnaDetail" parameterType="QnaVO" resultMap="qnaResult">
    	SELECT Q.*,F.FILENUM,F.FILENAME,F.ORINAME 
    	FROM QNA Q
    	LEFT JOIN
    	QNAFILE F
    	USING (NUM) 
    	WHERE Q.NUM=#{num}
    	</select>

	<resultMap id="qnaResult" type="QnaVO">
		<id column="num" property="num" />
		<result column="id" property="id" />
		<result column="location" property="location" />
		<result column="kind" property="kind" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="title" property="title" />
		<result column="contents" property="contents" />
		<result column="regDate" property="regDate" />
		<result column="reply" property="reply" />
		<result column="ref" property="ref" />
		<result column="step" property="step" />
		<result column="depth" property="depth" />
		<collection property="filesVOs" javaType="List" ofType="QnaFilesVO">
			<id column="fileNum" property="fileNum" />
			<result column="fileName" property="fileName" />
			<result column="oriName" property="oriName" />
		</collection>
	</resultMap>

	<insert id="setQnaAdd" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO QNA (NUM,ID,LOCATION,KIND,EMAIL,PHONE,TITLE,CONTENTS,REGDATE,REPLY,REF,STEP,DEPTH) 
		VALUES (#{num},#{id},#{location},#{kind},#{email},#{phone},#{title},#{contents},now(),0,0,0,0)
		</insert>
	<update id="setQnaUpdate" parameterType="QnaVO">
    	UPDATE QNA SET ID=#{id}, LOCATION=#{location}, KIND=#{kind}, EMAIL=#{email}, PHONE=#{phone}, TITLE=#{title}, CONTENTS=#{contents} 
    	WHERE NUM=#{num}
    	</update>
	<delete id="setQnaDelete">
    	DELETE FROM QNA WHERE NUM=#{num}
    	</delete>

	<insert id="setQnaFileAdd" parameterType="QnaFilesVO">
    	INSERT INTO QNAFILE 
    	VALUES (null,#{num},#{fileName},#{oriName})
    	</insert>

	<delete id="setQnaFileDelete" parameterType="QnaFilesVO">
    	DELETE FROM QNAFILE
    	WHERE FILENUM=#{fileNum}
    	</delete>


</mapper>