<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.fd.s1.shop.ShopMapper">
    	
    	<delete id="setStopDel" parameterType="shopStopVO">
    		DELETE FROM SHOPSTOP WHERE NUM = #{num}
    	</delete>
    	
    	<select id="getShopStop" parameterType="ShopVO" resultType="ShopStopVO">
    		SELECT * FROM SHOPSTOP WHERE SHOPNUM=#{shopNum} 
    	</select>
    	
    	<insert id="setShopStop" parameterType="ShopStopVO">
    		INSERT INTO SHOPSTOP(NUM,SHOPNUM,STARTTIME,FINISHTIME,REASON)
    		VALUES (null,#{shopNum},#{startTime},#{finishTime},#{reason})
    	</insert>
    	
    	<insert id="setMenu" parameterType="ShopMenuVO">
		  	INSERT INTO SHOPMENU (MENUNUM,SHOPNUM,SALE)
			SELECT MENUNUM, #{shopNum}, MENUSALE
			FROM MENU
			WHERE MENUSALE=1
		</insert>
    
    	<select id="getList" parameterType="ShopMenuVO" resultMap="listResult">
    		SELECT S.MENUNUM, M.MENUNAME, M.PRICE, S.SALE 
			FROM SHOPMENU S
			INNER JOIN
			MENU M 
			USING(MENUNUM)
			WHERE S.SHOPNUM = #{shopNum}
    	</select>
    	<resultMap type="ShopMenuVO" id="listResult">
			<id column="menuNum" property="menuNum"/>
			<id column="shopNum" property="shopNum"/>	
			<result column="sale" property="sale"/>
		<association property="menuVO" javaType="MenuVO">
			<result column="menuName" property="menuName"/>
 			<result column="price" property="price" />
 		</association>
		</resultMap>
		
		<select id="getShopNum" parameterType="MemberVO" resultType="ShopVO">
			SELECT SHOPNUM, SHOPNAME FROM SHOP WHERE ID=#{id}
		</select>
    	
    	<select id="getShopInfo" parameterType="ShopVO" resultMap="joinResult">
    		SELECT SM.*, M.MENUNAME, M.MENUENG, M.PRICE, M.CATEGORY, MF.FILENUM ,MF.FILENAME, MF.ORINAME
			FROM SHOPMENU SM
			INNER JOIN MENU M 
			ON(SM.MENUNUM=M.MENUNUM)
			LEFT OUTER JOIN MENUFILE MF 
			ON(M.MENUNUM=MF.MENUNUM)
			WHERE SM.SHOPNUM = #{shopNum}
			AND SM.SALE=1
    	</select>
    	<resultMap type="shopMenuVO" id="joinResult">
    		<id column="menuNum" property="menuNum"/>
			<id column="shopNum" property="shopNum"/>	
			<result column="sale" property="sale"/>
	    	<association property="menuVO" javaType="MenuVO">
			<id column="menuNum" property="menuNum"/>
			<result column="menuName" property="menuName"/>
			<result column="menuEng" property="menuEng"/>		
			<result column="price" property="price"/>
			<result column="menuDetail" property="menuDetail"/>
			<result column="menuSale" property="menuSale" />
			<result column="category" property="category" />
			</association>
			<association property="menuFileVO" javaType="MenuFileVO">
				<id column="fileNum" property="fileNum"/>
				<result column="fileName" property="fileName"/>
	 			<result column="oriName" property="oriName" />
	 		</association>
		</resultMap>
    	
    	
    	<update id="setUpdateSale" parameterType="ShopMenuVO">
    		UPDATE SHOPMENU SET SALE=#{sale} WHERE SHOPNUM=#{shopNum} and MENUNUM=#{menuNum}
    	</update>
    	
    	<update id="setUpdateShopSystem" parameterType="ShopVO">
    		UPDATE SHOP SET SHOPNAME=#{shopName}, SHOPPHONE=#{shopPhone}, OPENTIME=#{openTime}, CLOSETIME=#{closeTime}
    		WHERE SHOPNUM=#{shopNum}
    	</update>
    
    </mapper>
